// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Add a dark background color with a little bit see-through */

.pageWrapper{
  background-image: url(asset-path("members1.jpg"));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.memberSolo {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
}
.memberSolo:hover {
    border-color: #f1f1f1;
    cursor: pointer;
}
.carousel{
  //background-color: blue;
  background: #2d2d30;
  color: #bdbdbd;
  opacity: 1;
}
//Carousel
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
    max-height: 800px;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.bandIntroduction{
  background: #2d2d30;
  color: #bdbdbd;
  opacity: 0.95;
  img{
    opacity: 1;
  }
}


.contactSection{
    background: #2d2d30;
    color: #bdbdbd;
    opacity: 0.95;
}
.memberModalBodyOverride{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

// ============ Modal Classes ===========
.brinModal{
  background-image: url(asset-path("brinModal1.jpg"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 40% 100%;
  background-position: center;
}
.brinModalText{
  color: #ff5815;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.brinModalTextBG{
  background: rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  padding-right: 15px;
}
.brinModalBtn{
  background-color: #ff5815 !important;
}

.travModal{
  background-image: url(asset-path("travModal.jpg"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 40% 100%;
  background-position: center;
}
.travModalText{
  color: #ff5815;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.travModalTextBG{
  background: rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  padding-right: 15px;
}
.travModalBtn{
  background-color: #ff5815 !important;
}

.devModal{
  background-image: url(asset-path("devModal.jpg"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 40% 100%;
  background-position: center;
}
.devModalText{
  color: #ff5815;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.devModalTextBG{
  background: rgba(0, 0, 0, 0.5);
  padding-left: 15px;
  padding-right: 15px;
}
.devModalBtn{
  background-color: #ff5815 !important;
}
