// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#show-form{
  background-color: #2E2E2E;
  color: #ffffff;
  padding: 50px;
}

#show-index{
  background: #2d2d30;
  color: #bdbdbd;
  opacity: 0.95;
  margin-top: 50px;
}
